
h2{
    text-align: center;
}

#videoDiv{
    text-align: center;
}

video{
    width: 800px;
    height: 400px;
}

#thumbnailDiv{
    text-align: center;
}

canvas{
    width: 800px;
    height: 400px;
}